{% extends "base.html" %}

{% block title%} File List {% endblock %}
{% load static %}
{% block content %}


<div class="starter-template">
    <form class="form-inline">
      {% csrf_token %}
      <div class="form-group">
        <label for="pdf-file-input" >pdf file</label>
        <input type="file" id="pdf-file-input" name="pdf_file">
        <p class="help-block">Upload files till 100 pages. It checks only first 100 pages.</p>
      </div>

      <button type="button" class="btn btn-default" onclick="uploadFile(this)">Upload</button>
      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" id="file-upload-processing" style="display:none"></span>
    </form>
</div>

<!--<form action="/crawler/files/" method="post" enctype="multipart/form-data">-->
    <!--{% csrf_token %}-->
    <!--<input type="file" name="pdf_file"/>-->
    <!--<button type="submit">Submit</button>-->
<!--</form>-->
</br>
</br>

<div class="row">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Created time</th>
            <th>Url count</th>
        </tr>
        </thead>
        <tbody id="file-list-table">
        </tbody>
    </table>
    <div style="text-align: center">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" id="table-upload-processing" style="display:none"></span>
    </divstyle>
</div>

{% endblock %}

{% block js %}
{{ block.super }}
    <script src="{% static 'crawler/js/file_list.js' %}"></script>
{% endblock %}